{% extends 'base.html.twig' %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block body %}
<div class="container p-5">
    <h2>RandomSlogan: {{ ran }}</h2>
    <h2>RandomDiscount: {{ discount }}%</h2>
    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% for category in categories %}
        {{ category.name | upper }} <br>
        <ul>
            {% for deal in category.deals %}
                {% if deal.enable %}
                    <li>Nom <a href="{{ path('deal_show', {dealId: deal.id}) }}">{{ deal.name }}</a> - Prix: {{ deal.price }} - [{{ deal.description | striptags }}] - {{ deal.createdAt | date('m/d/Y') }}</li>
                {% endif %}
            {%  endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}